<div class="mdl-grid">
<div class="mdl-cell mdl-cell--4-col"></div>
<div class="mdl-cell mdl-cell--4-col" style="text-align: center;">
	<form>
	  	<h4>Colors</h4>
	  	<!-- Background color -->
	  	<p>
		  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
		    <input ng-model="customize.backgroundcolor" class="mdl-textfield__input" type="text" style="text-align:right;"/><br>
		    <label class="mdl-textfield__label">Background color</label>
		  </div>
	    </p>
	    <!-- Actionbar color -->
	    <p>
		  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
		    <input ng-model="customize.actionbarcolor" class="mdl-textfield__input" type="text" style="text-align:right;"/><br>
		    <label class="mdl-textfield__label">Actionbar color</label>
		  </div>
	    </p>
	    <!-- Edge of pictures -->
	    <p>
		  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
		    <input ng-model="customize.edgeofpictures" class="mdl-textfield__input" type="text" style="text-align:right;"/><br>
		    <label class="mdl-textfield__label">Edge of pictures</label>
		  </div>
	    </p>
	  	<button class="mdl-button mdl-js-button mdl-js-ripple-effect" ng-click="applyDefaultValues()">
	  		Apply default values
	  	</button>
        <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" ng-click="saveChanges()">
        	Save
        </button>
	</form>
</div>
<div class="mdl-cell mdl-cell--4-col"></div>
