<div style="background-image: url('../img/paris.gif');background-size: cover;position: absolute;
    top:0;
    bottom:0;
    right:0;
    left:0;
    overflow:hidden;">
	<center>
	<div style="margin:100px;padding:50px;width:300px;background-color:#eee;opacity:0.9;">
		<h3>Welcome</h3>
		<h4>It's here that all starts.</h4>

		<!-- LOGIN & PASSWORD -->
		<form action="#">
		  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
		    <input class="mdl-textfield__input" type="text" id="sample3">
		    <label class="mdl-textfield__label">Login</label>
		  </div><br>
		  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
		    <input class="mdl-textfield__input" type="password" id="sample3">
		    <label class="mdl-textfield__label">Password</label>
		  </div>
		</form>
		<button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored">
		  Connect!
		</button>
	</div>
	</center>
</div>