<div style="background-image: url('../img/build.gif');background-size: cover;position: absolute;
    top:0;
    bottom:0;
    right:0;
    left:0;
    overflow:hidden;">
	<center>
	<div style="margin:100px;padding:50px;width:300px;background-color:#eee;opacity:0.9;">
		<span class="mdl-layout-title">{{ websiteName }}</span>
		<h4>It's here that all starts.</h4>

		<!-- LOGIN & PASSWORD -->
		<form>
		  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
		    <input class="mdl-textfield__input" type="text" id="username" ng-model="loginForm.username">
		    <label class="mdl-textfield__label">Username</label>
		  </div><br>
		  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
		    <input class="mdl-textfield__input" type="password" id="password" ng-model="loginForm.password">
		    <label class="mdl-textfield__label">Password</label>
		  </div>
		  <a ng-click="connect()">
			  <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored">
				  Connect!
			  </button>
		  </a>
		  <p style="margin-top:30px">
		  	Even if you don't sign in, you do not have to fuck off, there's a <a href="#" target="blank">anonymous navigation</a>
		  </p>
		</form>
	</div>
	</center>
</div>
