    <md-tabs md-dynamic-height md-border-bottom>
      <md-tab label="Apparences">
			  <md-grid-list ng-click="settings.previewColorPalette($event)"
			        md-cols-xs="1" md-cols-sm="2" md-cols-md="4" md-cols-gt-md="6"
			        md-row-height-gt-md="1:1" md-row-height="2:2"
			        md-gutter="12px" md-gutter-gt-sm="8px" >

			    <md-grid-tile id="cp-blue" class="blue" md-rowspan="2" md-colspan="2" md-colspan-sm="1">
			      <md-grid-tile-footer>
			        <h3>Blue</h3>
			      </md-grid-tile-footer>
			    </md-grid-tile>

			    <md-grid-tile id="cp-purple" class="purple" md-rowspan="1" md-colspan="2" md-colspan-sm="1">
			      <md-grid-tile-footer>
			        <h3>Purple</h3>
			      </md-grid-tile-footer>
			    </md-grid-tile>

			    <md-grid-tile id="cp-brown" class="brown" md-rowspan="1" md-colspan="2" md-colspan-sm="1">
			      <md-grid-tile-footer>
			        <h3>Brown</h3>
			      </md-grid-tile-footer>
			    </md-grid-tile>

			    <md-grid-tile id="cp-indigo" class="indigo">
			      <md-grid-tile-footer>
			        <h3>Indigo</h3>
			      </md-grid-tile-footer>
			    </md-grid-tile>

			    <md-grid-tile id="cp-pink" class="pink" md-rowspan="1" md-colspan="2" md-colspan-sm="1">
			      <md-grid-tile-footer>
			        <h3>Pink</h3>
			      </md-grid-tile-footer>
			    </md-grid-tile>

			    <md-grid-tile id="cp-black" class="black">
			      <md-grid-tile-footer>
			        <h3>Black</h3>
			      </md-grid-tile-footer>
			    </md-grid-tile>

			    <md-grid-tile id="cp-red" class="red" md-colspan="2">
			      <md-grid-tile-footer>
			        <h3>Red</h3>
			      </md-grid-tile-footer>
			    </md-grid-tile>

			    <md-grid-tile id="cp-green" class="green">
			      <md-grid-tile-footer>
			        <h3>Green</h3>
			      </md-grid-tile-footer>
			    </md-grid-tile>

			    <md-grid-tile id="cp-yellow" class="yellow" md-colspan="2">
			      <md-grid-tile-footer>
			        <h3>Yellow</h3>
			      </md-grid-tile-footer>
			    </md-grid-tile>

			    <md-grid-tile id="cp-grey" class="grey"
			        md-rowspan="2">
			      <md-grid-tile-footer>
			        <h3>Grey</h3>
			      </md-grid-tile-footer>
			    </md-grid-tile>

			    <md-grid-tile id="cp-cyan" class="cyan" md-colspan="2" md-colspan-sm="1">
			      <md-grid-tile-footer>
			        <h3>Cyan</h3>
			      </md-grid-tile-footer>
			    </md-grid-tile>

			    <md-grid-tile id="cp-orange" class="orange" md-colspan="2" md-colspan-sm="1">
			      <md-grid-tile-footer>
			        <h3>Orange</h3>
			      </md-grid-tile-footer>
			    </md-grid-tile>

			    <md-grid-tile id="cp-teal" class="teal" >
			      <md-grid-tile-footer>
			        <h3>Teal</h3>
			      </md-grid-tile-footer>
			    </md-grid-tile>

			  </md-grid-list>

 			<nav mfb-menu 
 				position="br" 
 				effect="zoomin"
			    active-icon="ion-android-close"
			    resting-icon="ion-android-more-vertical"
			    toggling-method="hover">
			  	<button mfb-button icon="ion-android-done" label="Save changes" ng-click="saveChanges()"></button>
			  	<button mfb-button icon="ion-android-options" label="Apply default colors" ng-click="applyDefaultValues()"></button>
			</nav>
      </md-tab>
      <md-tab label="Confidentiality">
          	<h4 id="privacy-title">Confidentality</h4>
			<div class="snippet-demo">
	            <label class="mdl-switch mdl-js-switch mdl-js-ripple-effect mdl-js-ripple-effect--ignore-events is-upgraded" id="switch-privacy" data-upgraded=",MaterialSwitch,MaterialRipple">
				  	<input type="checkbox" class="mdl-switch__input" checked="">
				  	<span class="mdl-switch__label"></span>
					<div class="mdl-switch__track" ng-click="switchPrivacy()"></div>
					<div class="mdl-switch__thumb" ng-click="switchPrivacy()">
						<span class="mdl-switch__focus-helper"></span>
					</div>
				</label>
	          <div id="privacy-value" class="snippet-caption">
          		{{ privacy }}
        	  </div>
	        </div>
      </md-tab>
      <md-tab label="Credentials">
		    <h4 id="privacy-title">Other</h4>
		    <!-- Old Password -->
		  	<p>
			  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
			    <input ng-model="settings.oldpassword" class="mdl-textfield__input" type="password" style="text-align:right;"/>
			    <label class="mdl-textfield__label">Old password</label>
			  </div>
		    </p>
		    <!-- New Password -->
		  	<p>
			  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
			    <input ng-model="settings.newpassword" class="mdl-textfield__input" type="password" style="text-align:right;"/>
			    <label class="mdl-textfield__label">New password</label>
			  </div>
		    </p>
		    <!-- Confirm Password -->
		  	<p>
			  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
			    <input ng-model="settings.confirmpassword" class="mdl-textfield__input" type="password" style="text-align:right;"/>
			    <label class="mdl-textfield__label">Confirm password</label>
			  </div>
		    </p>
      </md-tab>
    </md-tabs>