  <md-tabs flex layout="column" layout-fill>
      <md-tab label="Apparences" flex layout="column" layout="column" layout-fill>
			  <md-grid-list ng-click="settings.previewColorPalette($event)"
			        md-cols-xs="1" md-cols-sm="2" md-cols-md="4" md-cols-gt-md="6"
			        md-row-height-gt-md="1:1" md-row-height="2:2"
			        md-gutter="12px" md-gutter-gt-sm="8px" >

			    <md-grid-tile id="cp-blue" class="blue" md-rowspan="2" md-colspan="2" md-colspan-sm="1">
			      <md-grid-tile-footer>
			        <h3>Blue</h3>
			      </md-grid-tile-footer>
			    </md-grid-tile>

			    <md-grid-tile id="cp-purple" class="purple" md-rowspan="1" md-colspan="2" md-colspan-sm="1">
			      <md-grid-tile-footer>
			        <h3>Purple</h3>
			      </md-grid-tile-footer>
			    </md-grid-tile>

			    <md-grid-tile id="cp-brown" class="brown" md-rowspan="1" md-colspan="2" md-colspan-sm="1">
			      <md-grid-tile-footer>
			        <h3>Brown</h3>
			      </md-grid-tile-footer>
			    </md-grid-tile>

			    <md-grid-tile id="cp-indigo" class="indigo">
			      <md-grid-tile-footer>
			        <h3>Indigo</h3>
			      </md-grid-tile-footer>
			    </md-grid-tile>

			    <md-grid-tile id="cp-pink" class="pink" md-rowspan="1" md-colspan="2" md-colspan-sm="1">
			      <md-grid-tile-footer>
			        <h3>Pink</h3>
			      </md-grid-tile-footer>
			    </md-grid-tile>

			    <md-grid-tile id="cp-black" class="black">
			      <md-grid-tile-footer>
			        <h3>Black</h3>
			      </md-grid-tile-footer>
			    </md-grid-tile>

			    <md-grid-tile id="cp-red" class="red" md-colspan="2">
			      <md-grid-tile-footer>
			        <h3>Red</h3>
			      </md-grid-tile-footer>
			    </md-grid-tile>

			    <md-grid-tile id="cp-green" class="green">
			      <md-grid-tile-footer>
			        <h3>Green</h3>
			      </md-grid-tile-footer>
			    </md-grid-tile>

			    <md-grid-tile id="cp-yellow" class="yellow" md-colspan="2">
			      <md-grid-tile-footer>
			        <h3>Yellow</h3>
			      </md-grid-tile-footer>
			    </md-grid-tile>

			    <md-grid-tile id="cp-grey" class="grey"
			        md-rowspan="2">
			      <md-grid-tile-footer>
			        <h3>Grey</h3>
			      </md-grid-tile-footer>
			    </md-grid-tile>

			    <md-grid-tile id="cp-cyan" class="cyan" md-colspan="2" md-colspan-sm="1">
			      <md-grid-tile-footer>
			        <h3>Cyan</h3>
			      </md-grid-tile-footer>
			    </md-grid-tile>

			    <md-grid-tile id="cp-orange" class="orange" md-colspan="2" md-colspan-sm="1">
			      <md-grid-tile-footer>
			        <h3>Orange</h3>
			      </md-grid-tile-footer>
			    </md-grid-tile>

			    <md-grid-tile id="cp-teal" class="teal" >
			      <md-grid-tile-footer>
			        <h3>Teal</h3>
			      </md-grid-tile-footer>
			    </md-grid-tile>

			  </md-grid-list>

 			<nav mfb-menu
 				position="br"
 				effect="zoomin"
			    active-icon="ion-android-close"
			    resting-icon="ion-android-more-vertical"
			    toggling-method="hover">
			  	<button mfb-button icon="ion-android-done" label="Save changes" ng-click="saveChanges()"></button>
			  	<button mfb-button icon="ion-android-options" label="Apply default colors" ng-click="applyDefaultValues()"></button>
			</nav>
      </md-tab>
      <md-tab label="Privacy" layout-fill>
	      <md-tab-content flex layout-fill>
	      	<div layout="column" layout-align="center center" style="height:100%">
                <i id="privacy-logo" class="material-icons" style="font-size:64px;/*color:red;*/">lock_outline</i>
				<md-switch ng-model="data.cb1" id="switch-privacy" ng-click="switchPrivacy()"></md-switch>
                <h3 id="privacy-value" class="md-headline">{{ privacy }}</h3>
	      	</div>
	 			<nav mfb-menu
	 				position="br"
				    active-icon="ion-android-done"
				    resting-icon="ion-android-done"
				    label="Save changes"
				    toggling-method="hover">
				</nav>
	      </md-tab-content>
      </md-tab>
      <md-tab label="Credentials" layout-fill>
          <md-tab-content flex layout-fill>
            <div layout="column" layout-align="center center" style="height:100%">
                <h2 class="md-display-1">Email</h2>
                <form data-ng-submit="alert('hello');">
                    <div layout-gt-sm="row">
                        <md-input-container class="md-block" flex-gt-sm>
                            <label>Email</label>
                            <input type="email" ng-model="email">
                        </md-input-container>
                    </div>
                </form>
                <h2 class="md-display-1">Password</h2>
                <form data-ng-submit="alert('hello');">
                    <div layout-gt-sm="row">
                        <md-input-container class="md-block" flex-gt-sm>
                            <label>Old Password</label>
                            <input type="password" ng-model="settings.oldpassword">
                        </md-input-container>
                    </div>

                    <div layout-gt-sm="row">
                        <md-input-container class="md-block" flex-gt-sm>
                            <label>New Password</label>
                            <input type="password" ng-model="settings.newpassword">
                        </md-input-container>
                    </div>

                    <div layout-gt-sm="row">
                        <md-input-container class="md-block" flex-gt-sm>
                            <label>Confirm Password</label>
                            <input type="password" ng-model="settings.confirmpassword">
                        </md-input-container>
                    </div>
                </form>
            </div>
                <nav mfb-menu
                    position="br"
                    active-icon="ion-android-done"
                    resting-icon="ion-android-done"
                    label="Save changes"
                    toggling-method="hover">
                </nav>
          </md-tab-content>
      </md-tab>
    </md-tabs>
