/* SVG stylesheet */
@font-face {
    font-family: 'Roboto-Thin';
    src: url('../fonts/Roboto-Thin.ttf');
}

html, body { margin:0; padding:0; overflow:hidden }
svg { position:fixed; top:0; left:0; height:100%; width:100% }

.icon-menu-left {
	display: inline-block;
	width:40px;
}

.txt-menu-left {
	display: inline-block;
}

.color-palette {
	 height:100px;
	 width:100px;
	 border:1px solid #d3d3d3;
	 display:inline-block;
	 cursor:pointer;
}
.invisible { display:none; }
.visible { display:block; }

.align-bottom {
	bottom:0px;
	position: absolute;	
	width: 100%;
}

.signature {
	font-family: 'Roboto-Thin';
	font-size: 11px;
	text-align: center;
}

.txt-pink {
	color: #FF4081;
}

.tabsdemoDynamicHeight md-content {
  background-color: transparent !important; }
  .tabsdemoDynamicHeight md-content md-tabs {
    background: #f6f6f6;
    border: 1px solid #e1e1e1; }
    .tabsdemoDynamicHeight md-content md-tabs md-tabs-wrapper {
      background: white; }
  .tabsdemoDynamicHeight md-content h1:first-child {
    margin-top: 0; }

.gridListdemoBasicUsage md-grid-list {
  margin: 8px; }
.gray {
  background: #f5f5f5; }
 .green {
  background: #b9f6ca; }
 .yellow {
  background: #ffff8d; }
 .blue {
  background: #84ffff; }
 .purple {
  background: #b388ff; }
 .red {
  background: #ff8a80; }
.gridListdemoBasicUsage md-grid-tile {
  transition: all 400ms ease-out 50ms; }