<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8" name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">

    <title ng-bind="pageTitle">Moodboard</title>
    <link rel="icon" href="img/favicon.ico" type="image/x-icon">
    <link rel="shortcut icon" type="image/x-icon" href="img/favicon.ico" />
    <link type="image/x-icon" href="img/favicon.ico" />

    <!-- CSS -->
    <link rel="stylesheet" href="libs/material-design-lite/material.min.css">
    <link rel="stylesheet" href="libs/angular-material/angular-material.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/mystyle.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700" type="text/css">
    <link rel="stylesheet" href="libs/ng-material-floating-button/mfb/dist/mfb.css">
    <link rel="stylesheet" href="libs/ionicons/css/ionicons.css">
    
    <!-- Angular -->
    <script src="libs/angular/angular.js"></script>
    <script src="libs/angular-aria/angular-aria.js"></script>
    <script src="libs/angular-animate/angular-animate.js"></script>
    <script src="libs/angular-material/angular-material.js"></script>
    <script src="libs/angular-route/angular-route.min.js"></script>
    <script src="libs/material-design-lite/material.min.js"></script>
    <script src="libs/jquery/dist/jquery.js"></script>
    <script src="libs/ng-material-floating-button/src/mfb-directive.js"></script>
    <script type="text/javascript">window.user = <%- user || 'null' %>;</script>

    <!-- Routes & app -->
    <script type="text/javascript" src="application.js"></script>
    <script type="text/javascript" src="config/application.client.routes.js"></script>

    <!-- Controllers -->
    <script type="text/javascript" src="controllers/authentication.client.controller.js"></script>
    <script type="text/javascript" src="controllers/index.client.controller.js"></script>
    <script type="text/javascript" src="controllers/settings.client.controller.js"></script>
    <script type="text/javascript" src="controllers/username.client.controller.js"></script>

    <!-- Services -->
    <script type="text/javascript" src="services/authentication.client.service.js"></script>
    <script type="text/javascript" src="services/sandbox.client.service.js"></script>
    <script type="text/javascript" src="services/settings.client.service.js"></script>

    <!-- Customs & Utils -->
    <script src="js/svg.js"></script>
    <script src="js/utils.js"></script>
    <script src="js/palette.js"></script>

</head>
<body ng-app="mean" ng-cloak>
<div class="container">
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header mdl-layout--fixed-tabs">
        <!-- Header -->
        <ng-include src="toolbarUrl"></ng-include>

        <!-- Content -->
        <main id="mainView" class="mdl-layout__content" ng-view layout="column"></main>

        <div id="toast" class="mdl-js-snackbar mdl-snackbar">
          <div class="mdl-snackbar__text"></div>
          <button class="mdl-snackbar__action" type="button"></button>
        </div>
    </div>
</div>
</body>
</html>

